__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/


.virtualenvs/
venv/
.venv/
env/
Pipfile.lock

.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.db
*.sqlite3
*.log
weaviate_data/


app/medical_data/
app/medical_csv_data/
app/medical_md_data/

data/knowledge_base/

.env
.env.*