fastapi==0.109.0
uvicorn==0.27.0
jinja2==3.1.3
httpx==0.26.0
sqlalchemy==2.0.25
pydantic==2.6.0
python-multipart==0.0.9
python-dotenv==1.0.1
aiofiles==23.2.1
requests==2.31.0
passlib[bcrypt]==1.7.4
python-jose==3.3.0
openai
colorlog==6.8.0
captcha
sentence_transformers
weaviate-client<4.0.0
jieba
pandas
matplotlib